/* --------- Elemnt Styles --------- */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #353A3F;
    padding-left: 0px !important;
}
header {
    height: 600px;
}

button {
    margin: 5px;
    background: rgb(15, 116, 141);
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}

button:active {
    box-shadow: none;  
}


header {
    height:600px; 
}

.header__bg-image {
    background-image: url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size: cover;
    
}

.btn.btn-dark:hover {
    color: #353A3F;
    background:#FDFDFD;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 116, 121, 0.25);
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: #353A3F;
    text-decoration: none;  
}

[disabled] {
    opacity: 0.8;
}

h1, h2, h3, h4, h5 {
    color: rgba(38, 39, 39, 0.774);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}


strong {
    font-weight: normal;
    font-size: 25px;
    color: rgb(15, 116, 141);
}

em {
   
    font-weight: bold;
}


.container {
    background-image: url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size: cover;
    height: 230vh;
    margin-top:20px;
    padding-right: 0px;
}

/*------ Header Styles -------*/

.header__bg-image {
    background-image: url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size: cover;
    
         
}
.header__box {
    height: 250px;
    width: 500px;
    margin-left: 100px;
    padding: 50px 70px 50px 30px;
    position: relative;
    top: 30px;
    right: -150px;
}

.header__headline-1 {
    position: relative;
    top: 10px;
    left: 100px;
    width: 400px;
    padding-bottom: 10px;
}

.header__headline-2 {
    position: relative;
    top: 5px;
    left: 245px;
    
}

.border-b {
    border-bottom: 2px solid  rgb(15, 116, 141);
    
}


/*----- Nav bar Styles -----*/

.aside {
    height: 105vh; 
    width: 120px;
    color:white;
    background-color: rgb(15, 116, 141);
    position: fixed;
    left:145px;
    z-index: 1;
    padding-top: 10px;
    margin-top: -25px;
    align-items: center;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav li:last-child {
    margin-top: 52vh;
}

li {
    list-style-type: none;
    margin: 20px 0 0 10px;
}


/*----- First Section / Contant / Career -----*/

.contact {
    position: relative;
    top: 41px;
    left: 150px;
    font-size: 20px;
}

.box-1 {
    background: rgb(238, 241, 240);
    height:250px;
    padding: 20px 0 20px 50px;
    width: 650px;
    z-index: 2;
    margin-top: 30px;
    position: relative;
    right: -120px;
    top: -5px;
    box-shadow: 1px 1px 1px 1px rgba(10, 10, 10, 0.3);
}

.ml-85 {
    margin-left: 85px;
}

/* ---- This will come into place once I am more advanced in Javascript ----
.emphasize:hover {
    font-weight: bold;
    font-size: 14px;
}
*/

/*----- Second Section / Skills / Quote-----*/

.box-2 {
    background: rgb(238, 241, 240);
    height:250px;
    padding:30px 50px;
    width: 650px;
    top: 190px;
    right: -120px;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(10, 10, 10, 0.3);
    margin-left: 50px;   
}

.quote {
    position: relative;
    top: 220px;
    left: 150px;
    margin: 0 0 0 35px; 
}

/* --------- Footer-Section / Disclaimer / About myself --------- */

.box-3 {
    background: rgb(238, 241, 240);
    height: 250px;
    padding: 30px;
    width: 650px;
    z-index: 2;
    margin-top: 30px;
    position: relative;
    left: 350px;
    top: 350px;
    box-shadow: 1px 1px 1px 1px rgba(10, 10, 10, 0.3);  
}

.header__img {
    z-index: 3;
    height: 210px;
    left: -100px;
    top: 20px;
    position: absolute;
    box-shadow: 0 0 2px 1px rgba(10, 10, 10, 0.5);
    
}

.disclaimer {
    position: relative;
    bottom: -450px;
    left: 200px;
    color: rgba(38, 39, 39, 0.774);
}


.collapsedisclaimer {
    position: fixed;
    top: 150px;
    left: 350px;
    width: 800px;
    z-index: 3;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 0 2px 2px rgba(10, 10, 10, 0.3);
    font-size: small;
    
    
}




/* --------- General classes --------- */

.border {
    border: 5px solid black;
}

.btn.btn-dark:hover {
    color: #353A3F;
    background:#FDFDFD;
}

.italic {
    font-style: italic;
}


.display-none {
    display: none;
}


