/* --------- Elemnt Styles --------- */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #353A3F;
}
header {
    height:600px;
}

button {
    margin: 5px;
    background: rgb(15, 116, 141);
    border-radius:5px;
    color: white;
    padding: 5px 10px;
}

button:active {
    box-shadow: none;
    
}


header {
    height:600px;
    
}

.header__bg-image {
    background-image:url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size:cover;
    background-position: bottom 200px;
  
}

.btn.btn-dark:hover {
    color: #353A3F;
    background:#FDFDFD;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 116, 121, 0.25);
   
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: #353A3F;
    text-decoration: none;
    
}

[disabled] {
    opacity: 0.8;
}

h1, h2, h3, h4, h5 {
    color: rgba(38, 39, 39, 0.774);
}


strong {
    font-weight: normal;
    font-size: 25px;
    color:  rgb(15, 116, 141);
}


.container {

    background-image:url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size:cover;
    background-position: bottom 200px;
    height:230vh;
}

/*------ Header Styles -------*/

.header__bg-image {
    background-image:url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size:cover;
    background-position: bottom 200px;
    
      
}
.header__box {
    
    height: 250px;
    width: 500px;
    margin-left: 100px;
    padding: 50px 70px 50px 30px;
    background: white;
    box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.3);
    position: relative;
    top: 70px;
    left:5px;
}

.header__img {
    z-index: 3;
    height:255px;
    position:absolute;
    top: -30px;
    left:-75px;
    box-shadow: 0 0 5px 3px rgba(10, 10, 10, 0.5);
}

.ml-200 {
    margin-left: 200px;
}

.ml-100 {
    margin-left:100px;
} 

.border-b {
    border-bottom: 2px solid  rgb(15, 116, 141);
}


/*----- Nav bar Styles -----*/

.aside {
    height: 105vh; 
    width: 120px;
    color:white;
    background-color:  rgb(15, 116, 141);
    position: fixed;
    right: 160px;
    z-index: 1;

    padding-top:10px;
    margin-top: -25px;
    align-items: center;
    border-radius: 20px 0 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav li:last-child {

    margin-top: 52vh;

}

li {
    list-style-type: none;
    margin: 20px 0 0 10px;
}

/*----- First Section / Contant / Career -----*/

.contact {
    position: relative;
    top: -170px;
}

.box-1 {
   

    background: rgb(238, 241, 240);
    height:250px;
    padding: 20px;
    width: 650px;
    z-index: 2;
    margin-top: 30px;
    position: relative;
    right:33px;
    top:-5px;
    
    box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.3);
    
}

.ml-85 {
    margin-left:85px;
}

/* ---- This will come into place once I am more advanced in Javascript ----
.emphasize:hover {
    font-weight: bold;
    font-size: 14px;
}
*/

/*----- Second Section / Skills / Quote-----*/

.box-2 {
    background: rgb(238, 241, 240);
    height:250px;
    padding:20px 50px;
    width: 650px;
    top: 190px;
    left: -90px;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.3);
    margin-right: 0px;
     
}

.quote {
    position: relative;
    top: 220px;
    right: 170px;
    margin:0;
  
}

/* --------- Footer-Section / Disclaimer / About myself --------- */

.box-3 {
    background: rgb(238, 241, 240);
    height:250px;
    padding: 20px;
    width: 650px;
    z-index: 2;
    margin-top: 30px;
    position: relative;
    right: 500px;
    top: 350px;
    box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.3);
    
}

.disclaimer {
    position: relative;
    top: 380px;
    z-index: 3;
    color: rgba(38, 39, 39, 0.774);
}


.collapsedisclaimer {
    background-color: white;
    margin-top:20px;
    
    padding: 10px;
    box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.3);
    
}

/* --------- General classes --------- */

.border {
    border: 5px solid black;
}

.btn.btn-dark:hover {
    color: #353A3F;
    background:#FDFDFD;
}

.italic {
    font-style: italic;
}


.display-none {
    display:none;
}


