/* --------- Elemnt Styles --------- */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #353A3F;
    padding-left: 0rem !important;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
header {
    height: 37.5rem;
    display: flex;
    flex-flow: row wrap;
    transition: transform 1s;
}

button {
    margin: 0.3125rem;
    background: rgb(15, 116, 141);
    border-radius: 0.3125rem;
    color: white;
    padding: 0.3125 0.625rem;
}

button:active {
    box-shadow: none;  
}


.header__bg-image {
    background-image: url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size: cover;
    
}

.btn.btn-dark:hover {
    color: #353A3F;
    background:#FDFDFD;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 116, 121, 0.25);
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: #353A3F;
    text-decoration: none;  
}

[disabled] {
    opacity: 0.8;
}

h1, h2, h3, h4, h5 {
    color: rgba(38, 39, 39, 0.774);
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2.5rem;
}


strong {
    font-weight: normal;
    font-size: 1.5625rem;
    color: rgb(15, 116, 141);
}

em {
   
    font-weight: bold;
}


.container {
    background-image: url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size: cover;
    height: 230vh;
    margin-top:1.25rem;
    padding-right: 0rem;
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: flex;
}

/*------ Header Styles -------*/

.header__bg-image {
    background-image: url(../img/jeremy-bishop-393073-unsplash.jpg);
    background-size: cover;
    
         
}
.header__box {
    height: 15.625rem;
    width: 31.25rem;
    margin-left: 6.25rem;
    padding: 3.125rem 4.375rem 3.125rem 1.875rem;
    position: relative;
    top: 1.875rem;
    right: -9.375rem;
    display: flex;
    flex-flow: column wrap;
    
}

.header__box:hover {
    transform: scale(1.5);
}

.header__headline-1 {
    position: relative;
    top: 0.625rem;
    left: 6.25rem;
    width: 25rem;
    padding-bottom: 0.625rem;
}

.header__headline-2 {
    position: relative;
    top: 0.3125;
    left: 15.3125rem;
    
}

.border-b {
    border-bottom: 0.125rem solid  rgb(15, 116, 141);
    
}


/*----- Nav bar Styles -----*/

.aside {
    height: 105vh; 
    width: 7.5rem;
    color:white;
    background-color: rgb(15, 116, 141);
    position: fixed;
    left: 9.0625rem;
    z-index: 1;
    padding-top: 0.625rem;
    margin-top: -1.5625rem;
    align-items: center;
    border-radius: 0 1.25rem 1.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav li:last-child {
    margin-top: 52vh;
}

li {
    list-style-type: none;
    margin: 1.25rem 0 0 0.625rem;
}


/*----- First Section / Contant / Career -----*/

.contact {
    position: relative;
    top: 2.5625rem;
    left: 9.375rem;
    font-size: 1.25rem;
}

.box-1 {
    background: rgb(238, 241, 240);
    height: 15.625rem;
    padding: 1.25rem 0 1.25rem 3.125rem;
    width: 40.625rem;
    z-index: 2;
    margin-top: 1.875rem;
    position: relative;
    right: -7.5rem;
    top: -0.3125rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem rgba(10, 10, 10, 0.3);
}

.ml-85 {
    margin-left: 5.3125rem;
}

/* ---- This will come into place once I am more advanced in Javascript ----
.emphasize:hover {
    font-weight: bold;
    font-size: 14px;
}
*/

/*----- Second Section / Skills / Quote-----*/

.box-2 {
    background: rgb(238, 241, 240);
    height: 15.625rem;
    padding:1.875rem 3.125rem;
    width: 40.625rem;
    top: 11.875rem;
    right: -7.5rem;
    position: relative;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem rgba(10, 10, 10, 0.3);
    margin-left: 50px;   
}

.quote {
    position: relative;
    top: 13.75rem;
    left: 9.375rem;
    margin: 0 0 0 2.1875rem; 
}

/* --------- Footer-Section / Disclaimer / About myself --------- */

.box-3 {
    background: rgb(238, 241, 240);
    height: 15.625rem;
    padding: 1.875rem;
    width: 40.625rem;
    z-index: 2;
    margin-top: 1.875rem;
    position: relative;
    left: 21.875rem;
    top: 21.875rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem rgba(10, 10, 10, 0.3);  
}

.header__img {
    z-index: 3;
    height:  13.125rem;
    left: -6.25rem;
    top: 1.25rem;
    position: absolute;
    box-shadow: 0 0 0.125rem 0.0625rem rgba(10, 10, 10, 0.5);
    
}

.disclaimer {
    position: relative;
    bottom: -28.125rem;
    left: 12.5rem;
    color: rgba(38, 39, 39, 0.774);
}


.collapsedisclaimer {
    position: fixed;
    top: 9.375rem;
    left: 21.875rem;
    width: 50rem;
    z-index: 3;
    background-color: white;
    margin-top: 1.25rem;
    padding: 0.625rem;
    box-shadow: 0 0 0.125rem 0.125rem rgba(10, 10, 10, 0.3);
    font-size: small;
    
    
}




/* --------- General classes --------- */

.border {
    border: 5px solid black;
}

.btn.btn-dark:hover {
    color: #353A3F;
    background:#FDFDFD;
}

.italic {
    font-style: italic;
}


.display-none {
    display: none;
}


